
.subunit.POL { fill: #c0392b; }
.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}


.mapa {
    width: 50%;
    height: 0;
    position: relative;
}